.row{
    display: flex;
    flex-direction: row;}

    .col, .col-2, .col-3 {
        margin: 5px;
        padding: 30px;
        background-color: rgb(58, 109, 110);
        flex: 1;
    }
    
    .col-2 {
        flex: 2;
    }
    
    .col-3 {
        flex: 3;
    }